html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/app/node_modules/bulma/css/bulma.css')
        link(rel='stylesheet' href='/app/public/css/prism.css')
        link(rel='stylesheet' href='/app/public/css/paste.css')
        link(rel='stylesheet' href='/app/public/css/prism-bulma-fix.css')
    body
        div.modal.is-active
            div.modal-background
            div.modal-card
                header.modal-card-head
                    p.modal-card-title= paste_delete_confirm
                    button.delete(aria-label="close")
                section.modal-card-body
                    p paste_delete_password
        section.hero.is-info
            div.hero-body
                div.container.is-fluid
                    h1.title
                        a(href= appurl)= title
                    h2.subtitle= subtitle
        section.section
            div.container.is-fluid
                h1.title= pastetitle
                pre
                    code.line-numbers(class="language-" + pastesyntax)= pastecontent
                br
                a(href= appurl + "raw/" + pasteid)
                    button.button.is-primary= paste_raw
                button.button.is-danger= paste_delete
        script(src='/app/public/js/prism.js')