html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/app/node_modules/bulma/css/bulma.css')
        link(rel='stylesheet' href='/app/public/css/prism.css')
        link(rel='stylesheet' href='/app/public/css/paste.css')
        link(rel='stylesheet' href='/app/public/css/prism-bulma-fix.css')
    body
        section.hero.is-info
            div.hero-body
                div.container.is-fluid
                    h1.title
                        a(href= appurl)= title
                    h2.subtitle= subtitle
        section.section
            div.container.is-fluid
                h1.title= pastetitle
                pre
                    code.line-numbers(class="language-" + pastesyntax)= pastecontent
                br
                a(href= appurl + "raw/" + pasteid)
                    button.button.is-primary= paste_raw
        script(src='d/app/node_modules/prismjs/prism.js')
        script(src='/app/public/js/prism.js')