html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/app/node_modules/bulma/css/bulma.css')
        link(rel='stylesheet' href='/app/public/css/paste.css')
    body
        section.hero.is-info
            div.hero-body
                div.container
                    h1.title
                        a(href= appurl)= title
                    h2.subtitle= description
        section.section
            div.container
                h1.title= pastetitle
                div#editor= pastecontent
        script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js")
        script.
            window.define = ace.define;
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/chrome");
            editor.getSession().setMode("ace/mode/!{pastesyntax}");
            editor.setReadOnly(true);