html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='app/node_modules/bulma/css/bulma.css')
    body
        section.hero.is-info
            div.hero-body
                div.container.is-fluid
                    h1.title
                        a(href= appurl)= title
                    h2.subtitle= subtitle
        section.section
            div.container.is-fluid
                h1.title= index_new_paste
                form(action="/add" method="post")
                    div.field.is-horizontal
                        div.field-label.is-normal
                            label.label= index_name
                        div.field-body
                            div.field
                                div.control
                                    input.input(type="text" name="name" minlength="3" maxlength="250" required)
                    div.field.is-horizontal
                        div.field-label.is-normal
                            label.label= index_syntax
                        div.field-body
                            div.field
                                div.control
                                    div.select.is-fullwidth
                                        select(name="syntax")
                                            option(value="none") Plaintext (no syntax)
                                            option(value="properties") .properties
                                            option(value="rest") reST (reStructuredText)
                                            option(value="vim") vim
                    div.field.is-horizontal
                        div.field-label.is-normal
                            label.label= index_delete_password
                        div.field-body
                            div.field
                                div.control
                                    input.input(type="text" name="delete_password" maxlength="32")
                    div.field.is-horizontal
                        div.field-label.is-normal
                            label.label= index_content
                        div.field-body
                            div.field
                                div.control
                                    textarea.textarea(type="textarea" name="content" maxlength="250000" required)
                    div.field.is-horizontal
                        div.field-label.is-normal
                            label.label= index_captcha
                        div.field-body
                            div.field
                                div.g-recaptcha(data-sitekey= recaptcha_site_key data-callback="recaptcha_enable_button")
                    div.field.is-horizontal
                        div.field-label
                        div.field-body
                            div.field
                                button.button.is-link#btn(disabled)= index_add
        script(src="https://www.google.com/recaptcha/api.js")
        script.
            function recaptcha_enable_button(){
                document.getElementById("btn").disabled = false;
            }